.bottom {
	display: flex;
	justify-content: center;
}


.roundButton {
	position: relative;
	border-radius: 50%;
	border: solid 10px white;
	width: 80px;
	height: 80px;
	top: -30px;
}

.roundButtonDiv {
	display: flex;
	justify-content: center;
	/* 水平居中 */
	align-items: center;
	/* 垂直居中 */
	position: relative;
	border-radius: 50%;
	/* border: solid 10px white; */
	border: solid 10px white;
	width: 60px;
	height: 60px;
	top: -30px;
	background-color: #1976d2;
}